<div class="container">
  <nav class="navbar">
    <h1 class="app-name">EcoJourney</h1>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/sustainability-tips">Sustainability Tips</a></li>
      <li><a routerLink="/carbon-calculator">Carbon Footprint</a></li>
      <li><a routerLink="/challenges">Challenges</a></li>
      <li><a routerLink="/progress-tracking">Progress</a></li>
      <li><a routerLink="/educational-quizzes">Educational Quizzes</a></li>
      <li><a routerLink="/community">Community</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>